@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/ibm-plex-mono";

@custom-variant dark (&:where(html.dark *), @media (prefers-color-scheme: dark));

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@layer base {
  button {
    @apply cursor-pointer;
  }

  body {
    @apply overflow-x-hidden text-sm antialiased font-body scheme-light-dark;
  }
}

@layer components {
  /*  border-b dark:border-b-neutral-200/20 border-b-neutral-400/50 */
  .kuro-hoverable {
    @apply hover:dark:bg-neutral-600/30 hover:bg-neutral-200/50;
  }

  .kuro-bg {
    @apply dark:bg-neutral-950 bg-white;
  }

  .se-link {
    @apply text-red-900 dark:text-red-100 relative after:absolute after:block after:h-px after:inset-x-0 after:bottom-0 after:-z-10 after:bg-red-50/40 hover:after:bg-red-100;
  }
}

@theme {
  --font-body: "Inter", var(--default-font-family);
  --font-mono: "IBM Plex Mono", var(--default-mono-font-family);

  --color-sb-intermission: #00ffff;
  --color-sb-selfpromo: #ffff00;
  --color-sb-sponsor: #00d400;
  --color-sb-interaction: #cc00ff;
  --color-sb-preview: #008fd6;
  --color-sb-endcards: #0202ed;
  --color-sb-filler: #7300ff;
  --color-sb-hook: #395699;
  --color-sb-exclusive-access: #008a5c;
  --color-sb-non-music: #ff9900;
  --color-sb-highlight: #ff1684;
}
