@tailwind base;
@layer base {
  :root {
    --sb-intermission: #00ffff;
    --sb-selfpromo: #ffff00;
    --sb-sponsor: #00d400;
    --sb-interaction: #cc00ff;
    --sb-preview: #008fd6;
    --sb-endcards: #0202ed;
    --sb-filler: #7300ff;
    --sb-exclusive-access: #008a5c;
    --sb-non-music: #ff9900;
    --sb-highlight: #ff1684;
  }
}

@tailwind components;

@layer components {
  .hide-scrollbar {
    scrollbar-width: none;
  }

  /* For Chrome-based browsers to hide the scrollbar */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@tailwind utilities;
